{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <!-- About Section-->
    <section class="page-section mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase">About</h2>
            <!-- About Section Content-->
            <div>
                <blockquote><em>
                    The truth is a fog, in which one person sees a heavenly host and the other one sees a flying
                    elephant. ~ Dodger
                </em></blockquote>
                <p>You would think that, now that all of us have access to so much information, getting to the truth
                    would be relatively easy. Uh!
                </p>
                <p>Even if everybody gains enough knowledge on statistics and critical thinking (ie uses
                    scientific methods and makes evidence-based decisions), there is no guarantee this would lead
                    to truth, and to "right" decisions. And scientists are not exempt from motivated reasoning.
                    Scientists are human and have biases, just like everyone else. Men have not wanted to research
                    sexe-related differences for decades, other than those that confirm their beliefs on women. Not
                    until women started researching some idiotic claims, were such "truths" proven wrong.
                    Bias in science is fairly common, even more now with the interrelated interests of the health
                    industry, the medical world, and science journalists.
                </p>
                <p>Most scientists are honorable and really do have the best interests of the public at heart, but a
                    few will sell their souls for money and power.
                </p>
                <p>
                    In this digital day and age, in which data scientists prepare data for executives to base their
                    decisions on, we need to be doubly alert, and become data scientists ourselves. We need to not only
                    develop our own data analyses and predictions, we will also need to study bias in how we develop our
                    analyses and predictions, and we need to study our own personal biases, deeply. This site is
                    dedicated to that.
                </p>
            </div>
        </div>
    </section>
{% endblock %}