{% load static %}

<!-- templates/base.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="DS Projects" />
    <meta name="author" content="Ty Myrddin" />

    <title>{% block title %}Dodger{% endblock %}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'theme/assets/favicon.ico' %}" />
    <!-- Font Awesome icons (free version)-->
    <script src="{% static 'fonts/awesome/js/all.js' %}"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'theme/css/styles.css' %}" rel="stylesheet" />
    <!-- CSS overwrites-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
</head>
<body>
{% include 'navbar.html' %}

    <!-- Main-->
    <main id="main">
        <!-- child template -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <p><a href="https://tymyrddin.space/">Ty Myrddin</a> (2022)</p>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="{% static 'theme/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core theme JS-->
    <<script src="{% static 'theme/js/scripts.js' %}"></script>
</body>
</html>