{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="{% static 'img/dodger.png' %}" alt="Tophat logo" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">truth is a fog</h1>
        </div>
    </header>
{% endblock %}