<!-- Navigation-->

{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}
{% url 'accounts:profile' as profile_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}

<nav class="navbar navbar-expand-lg hs-bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ index_url }}">Dodger DS</a>
        <button class="navbar-toggler text-uppercase font-weight-bold hs-bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 {% if request.path == index_url %}active{% endif %}" href="{{ index_url }}">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="">Projects</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == profile_url %}active{% endif %}" href="{{ profile_url }}">Profile</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}">Logout</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!--<nav>-->
<!--    <ul>-->
<!--        {% url 'public:index' as index_url %}-->
<!--        <li class="nav__item">-->
<!--            {% if request.path == index_url %}Home{% else %}-->
<!--            <a href="{{ index_url }}" class="nav__link">Home</a>{% endif %}-->
<!--        </li>-->
<!--        <li class="nav__item"><a href="" class="nav__link">Projects</a>-->
<!--        </li>-->
<!--        {% url 'public:about' as about_url %}-->
<!--        <li class="nav__item">{% if request.path == about_url %}About{% else %}-->
<!--            <a href="{{ about_url }}" class="nav__link">About</a>{% endif %}-->
<!--        </li>-->
<!--        <span style="float:right">-->
<!--            <li class="nav__item">-->
<!--                {% if user.is_authenticated %}-->
<!--                    {% url 'accounts:profile' as profile_url %}-->
<!--                    {% if request.path == profile_url %}{{ user.username }}{% else %}-->
<!--                    <a href="{{ profile_url }}" class="nav__link">{{ user.username }}</a>-->
<!--                    {% endif %}-->
<!--                {% endif %}-->
<!--            </li>-->
<!--            <li class="nav__item">-->
<!--                {% if user.is_authenticated %}-->
<!--                <span><a href="{% url 'accounts:logout' %}">Logout</a></span>-->
<!--                {% else %}-->
<!--                <span class="nav__item"><a href="{% url 'accounts:login' %}">Login</a></span>-->
<!--                {% endif %}-->
<!--            </li>-->
<!--        </span>-->
<!--    </ul>-->
<!--</nav>-->