{% extends 'base.html' %}

{% block title %}Data Science Projects{% endblock %}

{% block content %}
    <!-- Login Section-->
    <section class="page-section mb-0" id="profile">
        <div class="container align-items-center">
            <!-- Login Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase">Login</h2>
            <br/>
            <!-- Login Section Content-->
            <div class="text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}