{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <!-- Profile Section-->
    <section class="page-section mb-0" id="profile">
        <div class="container align-items-center">
            <!-- Profile Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase">Profile</h2>

            <!-- Profile Section Content-->
            {% with profile=user.profile %}
               <div class="profile">
                    <div class="name text-center">
                        <p>{{ user.get_full_name }} (@{{user.username}})</p>
                        {% if profile %}
                            <p>{{ profile.persona|default:"" }}</p>
                            {% if profile.linkedin_url %}
                            <a href="{{ profile.linkedin_url }}" class="btn btn-just-icon btn-link"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                            {% if profile.twitter_url %}
                            <a href="{{ profile.twitter_url }}" class="btn btn-just-icon btn-link"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if profile.youtube_url %}
                            <a href="{{ profile.youtube_url }}" class="btn btn-just-icon btn-link"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                        {% endif %}
                    </div>
               </div>

                {% if profile %}
                <div class="description text-center">
                    {% with website=profile.website|default:"" %}
                        <a href="{{website}}">{{ website }}</a>
                    {% endwith %}
                </div>
                <div class="description text-center">
                    Interests:
                    {% for interest in profile.interests.all %}
                        <span>
                            {{ interest.name }}{% if not forloop.last %}, {% endif %}
                        </span>
                    {% endfor %}
                </div>
                <div class="description text-center">
                    <p>{{ profile.bio|default:"" }}</p>
                </div>
                {% endif %}
                <br/>
            {% endwith %}
        </div>
    </section>
{% endblock %}
