#main {
  padding-top: 74px;
}

@media (min-width: 992px) {
  #main {
    padding-top: 104px;
  }
}

@font-face {
  font-family: 'jaapokki-enchance';
  src:
  url('../fonts/jaapokki/jaapokkienchance-regular-webfont.woff2') format('woff2'),
  url('../fonts/jaapokki/jaapokkienchance-regular-webfont.woff') format('woff'),
  url('../fonts/jaapokki/Jaapokkienchance-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jaapokki-subtract';
  src:
  url('../fonts/jaapokki/jaapokkisubtract-regular-webfont.woff2') format('woff2'),
  url('../fonts/jaapokki/jaapokkisubtract-regular-webfont.woff') format('woff'),
  url('../fonts/jaapokki/Jaapokkisubtract-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
  font-family: 'jaapokki-subtract';
}

#mainNav .navbar-brand {
  color: black;
}

.hs-bg-primary {
  background-color: #009999;
}

.hs-bg-secondary {
  background-color: white;
  color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s, color .2s;
  color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #009999;
  border-color: #009999;
}

#mainNav .navbar-nav li.nav-item a.nav-link:visited {
  color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: black;
  background: none;
  border-color: #009999;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover {
  color: #009999;
  background: none;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:visited {
  color: black;
  background: none;
}

.masthead {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead .masthead-heading {
  font-family: 'jaapokki-subtract';
  font-size: 2.50rem;
  line-height: 2.75rem;
  color: black;
}

.masthead .masthead-subheading {
  font-size: 1.25rem;
}

.masthead .masthead-avatar {
  width: 10rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-family: 'jaapokki-subtract';
    font-size: 3rem;
    line-height: 3.5rem;
    color: black;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

.masthead {
  background-image: url("../img/ankhmorpork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-section {
  padding: 2rem 0;
}

@media (min-width: 992px) {
  .page-section {
    padding: 2rem 10rem;
  }
}

.page-section .page-section-heading {
  font-family: 'jaapokki-subtract';
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: black;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 2em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  color: black;
}